body{
    background-color: rgba(40, 92, 165, 0.962);
}

.titulo{
    background-color: rgb(254, 254, 254);
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 0;
    /* width: 50rem; */
}

hr{
    width: 75rem;
    margin: 0;
}

.titulo h1 h2{
    margin-left: 10px;
}

.introducao{
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    color: white;
}

.minha-foto img {
    margin-left: auto;
    margin-right: auto;
    width: 20rem; 
    height: auto;
}

.menu {
    color: white;
    font-size: 1.3rem;
    
}

.menu ul li a, .menu-pag ul li a{
    color: rgb(253, 253, 253);
}

.menu-pag{
    color: white;
    font-size: 1.3rem;
}

.conteudo .introducao p{
    font-size: 1em;
}

#hr-hobbies{
    width: 85em;
    margin: 0;
}

#link{
    color: rgb(214, 237, 38);
    font-size: 1.3rem;
}

.titulo-projeto{
    background-color: rgb(254, 254, 254);
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 0;
    width: 20rem
}